<div class="panel panel-default">
    <div class="panel-heading">
        Edit feed <b>{{feed.title}}</b>
    </div>
    <div class="panel-body">
        <form name="AdminFeedQuickEditForm" ng-submit="onSubmit()">
            <formly-form model="feedClone" fields="feedFields">
                <button ng-disabled="!AdminFeedQuickEditForm.$dirty" class="btn btn-primary" type="submit">Save feed
                </button>
                <button class="btn btn-danger" type="button" ng-click="delete(feedClone._id)">Delete feed</button>
            </formly-form>
        </form>
    </div>
</div>